@import "variables";
@import "fonts";

body {
    background-color: $midnight-blue;
    display: flex;
}


.background-container {
    z-index: 2;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 65vh;
    width: 95vh;
    display: grid;
    margin: auto;
    margin-top: 10%;
    grid-template-columns: 40vh 55vh;
    padding: 15px;
    overflow: hidden;
    border-radius: 4%;
    background-color: $light-blue;
    box-shadow: 0 5px 25px 0 rgba(30, 0, 161, 0.25)
}

.background-left {
    z-index: 2;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: grid;
    height: 65vh;
    width: 30vh;
    border-radius: 4%;
    background-color: $dark-blue

}

.step-info-button {
    position: relative;
    top: 50%;
    bottom: 0%;
    left: 10%;
    right: 0%;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: $sunset-orange;
    opacity: 50%;
    border: 10px;
    border-color: $sunset-orange;
}

.background-right {
    z-index: 2;
    font-family: 'ubunturegular';
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 50%;
    right: 0%;
    max-width: 46rem;
    display: grid;

}

.background-bubble {
    z-index: 1;
    position: absolute;
    top: 10%;
    bottom: 0%;
    left: 50%;
    right: 0%;
    height: 700px;
    width: 700px;
    border-radius: 100%;
    opacity: 40%;
    background-color: $light-lemon-yellow;
}




.section-title {
    z-index: 2;
    font-family: 'ubuntubold';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: -55%;
    right: 0%;
    padding: 1vh;
    color: $sunset-orange;

}

.prompt {
    z-index: 2;
    font-family: inherit;
    position: absolute;
    top: 18%;
    bottom: 0%;
    left: -55%;
    right: 0%;
    color: $sunset-orange;
    margin-top: -5vh;
    padding: 1vh;
}

.enter-info-container {
    z-index: 2;

    position: absolute;
    top: 25%;
    bottom: 0%;
    left: -54%;
    right: 69%;
    gap: 8px;
}

.enter-info-prompt {
    z-index: 2;
    font-size: small;
    color: $dark-blue;
    padding: 10px 0;

}


input[type=text] {
    z-index: 2;
    display: grid;
    min-height: 5vh;
    min-width: 40vh;
    border-radius: 10%;
    border: 2px solid $light-lemon-yellow;
    box-sizing: border-box;
    transition: .3s;


}

input[type=text]:focus {
    box-shadow: 0 5px 5px 0 $sunset-orange;
}

.nav-button {
    z-index: 2;
    font-family: 'ubuntubold';
    position: absolute;
    top: 5%;
    bottom: 0%;
    left: 10%;
    right: 0%;
    border-radius: 100vw;
    padding: 1rem 2rem;
    line-height: 2;
    max-width: max-content;
    margin-top: 100%;
    cursor: pointer;
    color: $white;
    background-color: $sunset-orange;

    &:hover {
        background-color: $dark-blue;
        transition: .2s;
    }
}