@import "variables";
@import "fonts";

* {
    margin: 0;
    font: inherit;
}

body {
    font-family: ubunturegular;
}

@media (min-width: 600px) {
    body {
        min-height: 60rem;
        display: grid;
        place-items: center;
        overflow: hidden;
    }

    .main-face {
        min-width: 60rem;
        min-height: 40rem;
        grid-template-columns: 20fr 1fr;
        box-shadow: .5rem .25rem 2rem 0 $dark-blue;
        overflow: hidden;

    }
}

.main-face {
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    max-height: 30rem;
    border: 0.25rem solid $red;
}

.step-info-container {
    display: flex;
    flex-direction: column;
    height: 40rem;
    width: 15rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    gap: 2rem;

    background-color: $green;
}

.step-info-circle {
    padding: 1rem;
    margin: 1rem;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 100%;

    border: 0.25rem solid $red;

}

.nav-button {
    max-width: 5rem;
    padding: 1rem 2rem;
    line-height: 1;
    border-radius: 2rem;
    cursor: pointer;

    border: 0.25rem solid $red;


}