$midnight-blue: #383f72;
$light-blue: #7888f3;
$lemon-yellow: #f9f871;
$light-lemon-yellow: #fff7d6;
$sunset-orange: #ffbc62;
$white: #FFFFFF;
$red: #ee1212;
$grey: #b4b3b3;
$dark-grey: #969696;
$dark-blue: #1e225c;
$light-grey: #d8d8d8;